
{% extends "app/Partials/base_admin.html" %}
{% load static %}
{% block title %} Nouveau Produit {% endblock title %}

{% block main-content %}
<div class="wrapper vh-100">
    <div class="row align-items-center h-100">
      <form method="post" class="col-lg-6 col-md-8 col-10 mx-auto shadow bg-white p-4 rounded" enctype="multipart/form-data">
        {% csrf_token %}
        {% if messages %}
            {% for msg in messages %}
                <p id="alert-message" class="alert alert-{{msg.tags}}" role="alert"> {{msg}} </p>
            {% endfor %}
        {% endif %}
        <div class="mx-auto text-center my-4">
          <h2 class="my-3"> Ajouter un Nouveau Produit</h2>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6"> 
            <div>
                {{ form.Nom.label_tag }}
                {{ form.Nom }}
            </div>  
            <br> 
            <div>
                {{ form.PrixUnitaire.label_tag }}
                {{ form.PrixUnitaire }}
            </div>
            <br>
          
          </div>
          <div class="col-md-6">
            <div>
                {{ form.IdCategorie.label_tag }}
                {{ form.IdCategorie }}
              </div>
              <br>
                <div>
                  {{ form.Description.label_tag }}
                  {{ form.Description }}
                </div>
          </div>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Enregistrer</button>
      </form>
    </div>
  </div>


  <script>
    // Attendre 7 secondes avant de masquer le message
    setTimeout(function() {
        var alertMessage = document.getElementById('alert-message');
        if (alertMessage) {
            alertMessage.style.display = 'none';
        }
    }, 5000); // 7000 millisecondes = 7 secondes
</script>
{% endblock main-content %}


