
{% extends "app/Partials/base_admin.html" %}
{% load static %}
{% block title %}Nouvelle categorie {% endblock title %}

{% block main-content %}
<div class="wrapper vh-100">
    <div class="row align-items-center h-100">
      <form method="post" class="col-lg-6 col-md-8 col-10 mx-auto shadow bg-white p-4 rounded" enctype="multipart/form-data">
        {% csrf_token %}
        {% if messages %}
            {% for msg in messages %}
                <p id="alert-message" class="alert alert-{{msg.tags}}" role="alert"> {{msg}} </p>
            {% endfor %}
        {% endif %}
        <div class="mx-auto text-center my-4">
          <h2 class="my-3"> Créer une nouvelle categorie de produit</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>
              {{ form.nom.label_tag }}
              {{ form.nom }}
            </div>
          </div>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Enregistrer</button>
      </form>
    </div>
  </div>


  <script>
    // Attendre 7 secondes avant de masquer le message
    setTimeout(function() {
        var alertMessage = document.getElementById('alert-message');
        if (alertMessage) {
            alertMessage.style.display = 'none';
        }
    }, 5000); // 7000 millisecondes = 7 secondes
</script>
{% endblock main-content %}


