<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'app/css/simplebar.css' %}">
    <link rel="stylesheet" href="{% static  'app/css/feather.css' %}">
    <link rel="stylesheet" href="{% static  'app/css/fullcalendar.css' %}">
    <link rel="stylesheet" href="{% static  'app/css/select2.css' %}">
    <link rel="stylesheet" href="{% static  'app/css/dropzone.css' %}">
    <link rel="stylesheet" href="{% static  'app/css/uppy.min.css' %}">
    <link rel="stylesheet" href="{% static  'app/css/jquery.steps.css' %}">
    <link rel="stylesheet" href="{% static  'app/css/jquery.timepicker.css' %}">
    <link rel="stylesheet" href="{% static  'app/css/quill.snow.css' %}">
    <link rel="stylesheet" href="{% static  'app/css/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static  'app/css/app-light.css' %}" id="lightTheme">
    <link rel="stylesheet" href="{% static  'app/css/app-dark.css' %}" id="darkTheme" disabled>
    <link rel="stylesheet" href="{% static  'app/css/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static  'app/css/style.css' %}">
        
    <title>E-Market | {% block title %}{% endblock title %}</title>
</head>
<body class="vertical  light">
    <div class="wrapper">
        
    {% include 'app/Partials/nav_dash_gest.html' %}
    
        {% block main-content %}
    
        {% endblock main-content %}
    </div>
    

    <script src="{% static 'app/js/jquery.min.js' %}"></script>
    <script src="{% static 'app/js/popper.min.js' %}"></script>
    <script src="{% static 'app/js/moment.min.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script> -->
    <script src="{% static 'app/js/simplebar.min.js' %}"></script>
    <script src="{% static 'app/js/daterangepicker.js' %}"></script>
    <script src="{% static 'app/js/jquery.stickOnScroll.js' %}"></script>
    <script src="{% static 'app/js/tinycolor-min.js' %}"></script>
    <script src="{% static 'app/js/config.js' %}"></script>
    <script src="{% static 'app/js/fullcalendar.js' %}"></script>
    <script src="{% static 'app/js/fullcalendar.custom.js' %}"></script>
    <script src="{% static 'app/js/d3.min.js' %}"></script>
    <script src="{% static 'app/js/topojson.min.js' %}"></script>
    <script src="{% static 'app/js/datamaps.all.min.js' %}"></script>
    <script src="{% static 'app/js/datamaps-zoomto.js' %}" ></script>
    <script src="{% static 'app/js/datamaps.custom.js' %}"></script>
    <script src="{% static 'app/js/Chart.min.js' %}"></script>
    <script src="{% static 'app/js/apps.js' %}"></script>
</body>
</html>