{% extends "app/base.html" %}
{% load static %}
{% block title %} Ventes {% endblock title %}

{% block main-content %}
<div class="row align-items-center h-100">
    <form method="post" class="col-lg-6 col-md-4 col-10 mx-auto text-center shadow bg-white px-5 py-3 rounded">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{client_form.nom.label_tag }}
                    
                    {{ client_form.nom }}
                </div>

    <!-- Affichage du champ 'prenoms' sans label -->
    <div class="form-group">
        {{ client_form.prenoms.label_tag }}
        {{ client_form.prenoms.errors }}
        {{ client_form.prenoms }}
    </div>

    <!-- Affichage du champ 'genre' sans label -->
    <div class="form-group">
        {{ client_form.genre.label_tag }}
        {{ client_form.genre.errors }}
        {{ client_form.genre }}
    </div>
            </div>
            <div class="col-md-8 table-responsive" style="height: 300px;">
                <h2>Produits</h2>
                {{ produit_formset.management_form }}
                <div id="formset-container">
                    {% for form in produit_formset %}
                        <div class="formset-row">
                            {{ form.as_p }}
                        </div>
                    {% endfor %}
            
                </div>
            </div>
            
        
        </div>
        <div class="row">
            <div class="col-md-6"><button type="submit" class="btn btn-lg btn-primary">Enregistrer</button></div>
            <div class="col-md-6"><button type="button" id="add-form" class="btn btn-lg btn-secondary">Ajouter un produit</button></div>
            
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        function updateProductDetails() {
            var productId = $('#id_form-0-IdProduit').val();
            var quantity = $('#id_form-0-QuantiteVendu').val();
            if (productId && quantity) {
                fetch(`/get-product-details/${productId}/`)
                .then(response => response.json())
                .then(data => {
                    $('#id_form-0-IdProduit').val(data.id);
                    $('#id_form-0-IdProduit').trigger('change');
                    $('#id_form-0-IdProduit').parent().next().find('input').val(data.category);
                    $('#id_form-0-MontantTotal').val(data.price * quantity);
                })
                .catch(error => console.log(error));
            }
        }

        $('#id_form-0-IdProduit').change(updateProductDetails);
        $('#id_form-0-QuantiteVendu').keyup(updateProductDetails);
    });
    
    $('#add-form').click(function() {
        var formIndex = $('#id_vente_set-TOTAL_FORMS').val();
        $('#formset-container').append($('#formset-container .formset-row:first').clone());
        $('#formset-container .formset-row:last :input').each(function() {
            var name = $(this).attr('name').replace('-0-', '-' + formIndex + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        $('#id_vente_set-TOTAL_FORMS').val(parseInt(formIndex) + 1);
    });
</script>
{% endblock main-content %}
